:root{
    --jbl-primary-color:  rgba(243, 167, 18, 1);
    --jbl-secondary-color:rgba(187, 68, 48, 1);
    --jbl-dark-color:  rgba(35, 31, 32, 1);
    --jbl-light-color: #ffffff;
    --jbl-highlight-color:  rgba(187, 68, 48, 1) ;
    --jbl-nav-toggler-glow: rgba(241, 247, 237, 1);
    }
/* sticky footer setup */
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--jbl-primary-color);
    color: var(--jbl-dark-color);
}
.content{
    flex: 1 0 auto;
    margin-top: 3rem;
}
/* sticky footer setup end */

/* navbar override */

#mainNav{
    background: var(--jbl-secondary-color);
}
#mainNav button{
    border-color: var(--jbl-primary-color);
}
.navbar-toggler-icon-jbl{
    color: var(--jbl-secondary-color);
}
.navbar-toggler{
    color: var(--jbl-nav-toggler-glow) !important;
}
.nav-item>a:hover{
    color: var(--jbl-primary-color);
}
.active{
    color: var(--jbl-highlight-color) !important;
}
/* navbar overrides end */

/* Bs button overrides */
.btn-primary{
    color: white !important;
    background-color: var(--jbl-dark-color) !important;
    border-color: var(--jbl-highlight-color) !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    filter:brightness(1.1) !important;
    border-color: var(--jbl-primary-color) !important;
}

.brt-outline-primary{
    color: var(--jbl-dark-color) !important;
    border-color: var(--jbl-primary-color) !important;
}

.btn-outline-primary:hover,
.brt-outline-primary:active,
.brt-outline-primary:focus{
    color: white !important;
    border-color: var(--jbl-secondary-color) !important;
    background-color: var(--jbl-primary-color) !important;
}


/* bs button overrides end */

.checklist{
    list-style-type: none;
}
.checklist>li em{
    color: var(--jbl-highlight-color);
}
.devicons {
    font-size: 3.5rem;
}
.footer{
    flex-shrink: 0;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--jbl-dark-color);
    color: var(--jbl-light-color)
}
.social{
    font-size: 1rem;
}
.social>a{
    color: var(--jbl-light-color);
}
.social>a:hover{
    color: var(--jbl-highlight-color);
}
.icon{
    width: 4.5rem;
}
u{
    text-decoration: underline;
    text-decoration-color: var(--jbl-highlight-color);
    padding-left: .6rem;
}
.btn:hover{
    color: var(--jbl-highlight-color);
    border-color: var(--jbl-highlight-color);
    background-color: transparent;
}

.fizz{
    color: rgba(255,255,0,.9);
    font-size: 2rem;
    font-weight: bold;
    border: solid;
    border-color: black;
    background-color: rgba(255,0,0,.85);
}

.buzz{
    color: rgba(255,0,0,.75);
    font-size: 2rem;
    font-weight: bold;
    border: solid;
    border-color: black;
    background-color: rgba(255,100,0,1);
}

.fizzBuzz{
    color: rgba(255,80,0,1);
    font-size: 2rem;
    font-weight: bold;
    border: solid;
    border-color: black;
    background-color: rgba(255,255,0,.9);
}

.numbers{
    font-weight: bold;
    font-size: 2rem;
    color: rgba(20,100,100,1);
    border: solid;
    border-color: black;
    background-color: blanchedalmond;
}

.fizzTxt{
    color:  rgba(255,255,0,.9);
    font-weight: bold;
}
.buzzTxt{
    color: rgba(255,0,0,.75);
    font-weight: bold;

}
.resultsTxt{
    color: rgba(10,10,10,.7);
    font-weight: bold;
}

.logo{
    border: solid;
    border-radius: 15px;
    overflow: hidden;
    display:flex;
    
}
